.customer-container {
  height: 100vh;
}
body.dark-mode .customer-container input {
  color: var(--white);
}
.customer-data-form {
  border: none;
  border-bottom: 1px solid var(--black);
  width: 100%;
  background-color: transparent;
  padding: 20px;
}
.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}
.form-buttons button {
  background-color: var(--primary-color);
  padding: 18px;
  font-size: 16px;
  border-radius: 12px;
  color: var(--white);
}
