.order-image {
  width: 125px;
  height: 125px;
}
.order-product-holder {
  background-color: #f0f0f0;
  border-radius: 18px;
}
body.dark-mode .order-product-holder {
  background-color: var(--primary-dark);
}
.order-image-holder {
  align-self: center;
  background-color: var(--white);
  border-radius: 20px;
}
body.dark-mode .order-image-holder {
  background-color: var(--primary-dark);
}
.order-delivery {
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 20px;
}
body.dark-mode .order-delivery {
  background-color: var(--primary-dark);
}
.order-payment {
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 20px;
}
body.dark-mode .order-payment {
  background-color: var(--primary-dark);
}
.order-delivery,
.order-payment {
  width: 245px;
  height: 190px;
}
.form-buttons a {
  background-color: var(--primary-color);
  padding: 18px;
  font-size: 16px;
  border-radius: 12px;
  color: var(--white) !important;
  text-align: center;
}
@media (max-width: 992px) {
  .order-row {
    flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  .order-image {
    width: 100px;
    height: 120px;
  }
  .order-product-holder {
    flex-direction: column;
  }
}
